%h1 Memo#edit


%textarea{ "v-model" => "title" }
  = @memo.title

.editor
  %textarea{":value" => "input", "@input" => "update"}
    = @memo.text
  
  %div{"v-html" => "compiledMarkdown"}

= javascript_pack_tag 'hello_vue'
