%h1 Memo#edit

.title
  %textarea{ "v-model" => "title" }
    = @memo.title
  %div
    {{ title }}

.text
  %textarea{":value" => "input", "@input" => "update"}
    = @memo.text  
  %div{"v-html" => "markdownText"}

= link_to '一覧へ戻る', memo_index_path

= javascript_pack_tag 'hello_vue'
